@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=San+Francisco&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "San Francisco", sans-serif;
}

.white-glow {
  -webkit-box-shadow: 0px 0px 54px 4px rgba(255, 255, 255, 0.29);
  -moz-box-shadow: 0px 0px 54px 4px rgba(255, 255, 255, 0.29);
  box-shadow: 0px 0px 54px 4px rgba(255, 255, 255, 0.29);
}
